################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/portfolio/FileContentIndex/263ff19d-a2e7-4588-97eb-c3e3f4851001.vsidx
/.vs/portfolio/FileContentIndex/30ccd35f-2faa-4865-9493-fb4c70b29254.vsidx
/.vs/portfolio/FileContentIndex/641c064c-8b42-4e0b-89e4-b8ad4c342659.vsidx
/.vs/portfolio/FileContentIndex/69efb99f-67b4-44ee-8e6f-16d38fc7aa07.vsidx
/.vs/portfolio/FileContentIndex/90860808-927d-4a65-8d25-1d95061dd54e.vsidx
/.vs/portfolio/FileContentIndex/d6a138d9-fb68-4a60-9cdd-99e0cdc92981.vsidx
/.vs/portfolio/FileContentIndex/2ce2d092-c9ce-4ab6-ba91-b7ece89883b5.vsidx
/.vs/portfolio/FileContentIndex/31fdd9da-f229-48f6-876c-6a91db34ff76.vsidx
/.vs/portfolio/FileContentIndex/5d0fbb35-b35e-48bd-adbf-49cc664b8ed9.vsidx
/.vs/portfolio/FileContentIndex/851f5b23-3489-43f4-b970-878f2806e3ac.vsidx
/.vs/portfolio/FileContentIndex/8fd49264-9108-460a-a3f9-6b44c939ce3b.vsidx
*.vsidx
